.home-container {
    display: flex;
    height: 100vh;
    background: #13131a;
}

.sidebar {
    width: 320px;
    min-width: 280px;
    max-width: 400px;
    border-right: 1px solid #2d2d3f;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
